.d-flex.flex-row.mt-4.mb-6
  .flex-grow-1
    v-slider(
      label='Your reading speed',
      hide-details='auto',
      persistent-hint='',
      :min='100',
      :max='400',
      hint='Use a site like [SITE] to calculate.',
      v-model='sliderValue',
      @start='sliderStart'
    )
  div
    v-text-field.wpm-field(
      dense='',
      hide-details='',
      prefix='words/min.',
      reverse='',
      type='number',
      v-model='value',
      @focus='$event.target.select()'
    )
